<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org
"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<title>Harjoitukset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Inspiraatiota treenaamiseen</h1>
    <h2>Tässä vinkkejä erinlaisiin Pilates harjoituksiin</h2>
    <table>
        <h3>Harjoitus 1</h3>
        <Text>Aloita harjoitus 30 sekunnin lankulla. Tämän jälkeen tehdään jalkasarja 3 kertaa sarjaan kuuluu: 15 kyykkyä...</Text>
        <h3>Harjoitus 2</h3>
        <Text>Aloita harjoits 1 min lankulla. Siirry tämän jälkeen selälleen ja varmista, että alaselkä koskee lattiaa. Aloita sarja...
        </Text>
        <h3>Harjoitus 3</h3>
        <Text>Aloita harjoitus risti-istunnosta ja hengitä syvään 3 kertaa. Pyörittele olkapäitä 5 kertaa molempiin suuntiin ja...</Text>
    </table>

    <a href="/etusivu">Palaa etusivulle</a>  
</body>
</html>